{% extends 'base.html.twig' %}

{% block title %}Hello Menu !{% endblock %}

{% block body %}
<style>
    
</style>

<div>

Afficher plats, boissons du restaurant. 
Elle permet à un utilisateur de choisir ce qu'il va commander. 
Chaque plat choisit est ajouté au panier.

</div>
       

{% endblock %}